[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zlogging = {editable = true,path = "."}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
vermin = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
furo = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
rstcheck = {extras = ["sphinx","toml"],version = "*"}
esbonio = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
html2text = "*"
requests = {extras = ["socks"],version = "*"}
types-docutils = "*"
types-emoji = "*"
types-requests = "*"
types-urllib3 = "*"
types-setuptools = "*"
build = "*"
twine = "*"

[packages]
aenum = "*"
dataclasses = "*"
typing-inspect = "*"
typing_extensions = "*"

[requires]
python_version = "3"
