[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blogging = {editable = true,path = "."}
autopep8 = "*"
ipython = "*"
pylint = "*"
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
requests = "*"

[packages]
pandas = "*"

[requires]
python_version = "3.7"
